body {
    margin-left: 10 px;
}

.chat{
    background-color: rgb(193, 192, 154);
    padding: 20px;  
    border-radius: 20px;
    display:inline-block
}

.msg {
    background-color: rgb(14, 113, 243);
    color: blanchedalmond;
    
}